{% extends 'jkservice/index.html' %}
{% load static %}
{% block css_js %}
    <link rel="stylesheet" href="{% static 'houses/css/advanced.css' %}">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#houses').addClass('active');
            $('title').html('Жилкомсервис - Дома');
        });
    </script>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-12">
                <h4>Жилищный фонд</h4>
                <p>Домов под управлением: 92<br>Обслуживаемых ТСЖ: 20<br>Обслуживаемых по договору между собственниками и управляющей организацией: 72<br><nobr>Площадь домов под управлением</nobr>: 93834.00<br>по домам от 26 до 50 лет: 75609.00<br>по домам от 51 до 75 лет: 1841.00<br>по домам 76 лет и более: 3650.00</p>
                <br>
                <h4>Планы работ на 2014 год:</h4>
                <p>
                <a href="/media/plans/semenkovo_2.xls">
                    План работ по содержанию и ремонту общего имущества <nobr>д.Семенково - 2.</nobr>
                </a>
                <br>
                <a href="/media/plans/fofancevo.xls">
                    План работ по содержанию и ремонту общего имущества <nobr>д.Фофанцево.</nobr>
                </a>
                <br>
                <a href="/media/plans/dorojny.xls">
                    План работ по содержанию и ремонту общего имущества <nobr>п.Дорожный.</nobr>
                </a>
                <br>
                <a href="/media/plans/kuvchinovo.xls">
                    План работ по содержанию и ремонту общего имущества <nobr>п.Кувшиново.</nobr>
                </a>
                <br>
                <a href="/media/plans/semenkovo.xls">
                    План работ по содержанию и ремонту общего имущества <nobr>п.Семенково.</nobr>
                </a>
                <br>
                <a href="/media/plans/fetinino_TSG.xls">
                    План работ по содержанию и ремонту общего имущества <nobr>п.Фетинино (ТСЖ).</nobr>
                </a>
                <br>
                <a href="/media/plans/fetinino_UK.xls">
                    План работ по содержанию и ремонту общего имущества <nobr>п.Фетинино (УК).</nobr>
                </a>
                </p>
            </div>
        </div>
        <div>
            <h4>Дома, находящиеся под управлением (92)</h4>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Адрес
                    </th>
                    <th>
                        Площадь
                    </th>
                    <th>
                        Год ввода в эксплуатацию
                    </th>
                    <th>
                        Сотояние
                    </th>
                    <th>
                        Количество жителей
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for house in houses %}
            {% if house.contract %}
                <tr>
                    <th>
                        <a href="{% url 'detail' house.house_id %}">{{ house.get_settlement_display }}{% if house.street_name %} ул {{ house.street_name }}{% endif %} д.{{ house.house_number }}{% if house.comment %} {{ house.comment }}{% endif %}</a>
                    </th>
                    <th>
                        {{ house.house_area }}
                    </th>
                    <th>
                        {{ house.house_year }}
                    </th>
                    <th>
                        {{ house.get_house_status_display }}
                    </th>
                    <th>
                        {{ house.house_population }}
                    </th>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <div>
            <h4>Дома, обслуживание которых завершено</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Адрес
                    </th>
                    <th>
                        Дата и причина расторжения договора
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for house in houses %}
            {% if not house.contract %}
                <tr>
                    <th>
                        {{ house.get_settlement_display }}{% if house.street_name %} ул {{ house.street_name }}{% endif %} д.{{ house.house_number }}
                    </th>
                    <th>
                        {{ house.comment }}
                    </th>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        </div>
{% endblock %}