{% extends 'jkservice/index.html' %}
{% load static %}
{% block css_js %}
    <script src="{% static 'jkservice/js/add_statement.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#docs').addClass('active');
            $('title').html('Жилкомсервис - Документы');
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h4>Проект договора управления:</h4>
            <a href="#">
                Договор управления многоквартирным домом.
            </a>
            <h4>Услуги и тарифы:</h4>
            <a href="#">
                Информация об утвержденных ценах и тарифах на коммунальные услуги для Семенковского сельского поселения на 2014 год.
            </a>
            <br>
            <a href="#">
                Тарифы на услуги по утилизации, обезвреживанию и захоронению твердых бытовых отходов.
            </a>
            <br>
            <a href="#">
                Действующие ставки по содержанию и ремонту жилого фонда.
            </a>
            <h4>Годовая бухгалтерская отчетность:</h4>
            <a href="#">
                Бухгалтерская отчетность за 2012 год.
            </a>
            <br>
            <a href="#">
                Бухгалтерская отчетность за 2013 год.
            </a>
            <h4>Привлечения к отвественности:</h4>
            <a href="#">
                Постановление №272.
            </a>
            <br>
            <a href="#">
                Постановление №273.
            </a>
        </div>
    </div>
{% endblock %}