{% extends 'jkservice/index.html' %}
{% load static %}
{% block css_js %}
    <script src="{% static 'jkservice/js/add_statement.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#docs').addClass('active');
            $('title').html('Жилкомсервис - Документы');
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h4>Проект договора управления:</h4>
            <a href="/media/dogovory/proekt_dogovora.pdf">
                Договор управления многоквартирным домом.
            </a>
            <h4>Услуги и тарифы:</h4>
            <a href="/media/tarifs/uslugi.xlsx">
                Информация об утвержденных ценах и тарифах на коммунальные услуги для Семенковского сельского поселения на 2014 год.
            </a>
            <br>
            <a href="/media/tarifs/util.pdf">
                Тарифы на услуги по утилизации, обезвреживанию и захоронению твердых бытовых отходов.
            </a>
            <br>
            <a href="/media/tarifs/stavki.xlsx">
                Действующие ставки по содержанию и ремонту жилого фонда.
            </a>
            <h4>Годовая бухгалтерская отчетность:</h4>
            <a href="/media/buh/buh_2012.PDF">
                Бухгалтерская отчетность за 2012 год.
            </a>
            <br>
            <a href="/media/buh/buh_2013.PDF">
                Бухгалтерская отчетность за 2013 год.
            </a>
            <h4>Привлечения к отвественности:</h4>
            <a href="/media/adminstrative/postanovlenie_272.PDF">
                Постановление №272.
            </a>
            <br>
            <a href="/media/adminstrative/postanovlenie_273.PDF">
                Постановление №273.
            </a>
        </div>
    </div>
{% endblock %}